<h1>Login</h1>
  <form class="form-signin text-center p-3"
   #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
<div class="mt-4 mb-3">
    <div class="form-group">
    <label for="inputEmail" class="sr-only">Email address</label>
    <input 
      type="email" 
      ngModel
      
      class="form-control" 
      id="inputEmail" 
      name="email" 
    
      placeholder="Email address" 
      required 
      autofocus>
    </div>
    <div class="form-group">
    <label for="inputPassword" class="sr-only">Password</label>
    <input 
   
      class="form-control" 
      ngModel
     
      type="password" 
      id="inputPassword" 
      name="password" 
      placeholder="Password" 
      required>
    <label *ngIf ="errorMessage" class="error mt-3 text-danger">
      {{errorMessage}}
    </label>
  </div>
  </div>
  <button type="submit" class="btn btn-lg btn-success btn-block mb-3">Login</button>
  <p>No account yet? <a routerLink="/register">Create an account</a></p>
</form>